body {
  text-align: center;
  background-color: #282c34;
}

.scoreBoard {
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: 30px;
}

.playerBoard {
  margin: 5px auto;
  display: inline-block;
}

.board {
  margin: 0 auto;
}